# ------------------------------------------------------------------------------------------------------
# PCF Configuration Utility - PKS Deployment Config
# ------------------------------------------------------------------------------------------------------
# 2019-09-06 sadubois Tested with OpsMan 2.7.1 and opsman_gcp_pas.yml
# ------------------------------------------------------------------------------------------------------
PCF_DEPLOYMENT_CLOUD=GCP
PCF_DEPLOYMENT_ENV_NAME=gcppas
PCF_DEPLOYMENT_DESCRIPTION="PAS Small Runtime on GCP Cloud"
PCF_DEPLOYMENT_MAINTAINER=sadubois
PCF_DEPLOYMENT_DEBUG=false

PCF_TERRAFORMS_TEMPLATE_BUNDLE=2.7                        # PCF Bundle Version
PCF_TERRAFORMS_TEMPLATE_NAME="GCP Terraform Templates"    # Terraform Template Name
PCF_TERRAFORMS_TEMPLATE_VERSION=0.95.0                    # Pin Template Version
#PCF_TERRAFORMS_TEMPLATE_VERSION=latest                   # Take Latest Template Version in Bundle

#PCF_OPSMANAGER_VERSION=2.7.1                            # Pin OpsMan to this Version
PCF_OPSMANAGER_VERSION=2.7                                # Take the Latest 2.6.x OpsMan version
PCF_OPSMANAGER_CONFIG=templates/opsman_gcp_pas.yml        # OpsMan OM Configuration
PCF_OPSMANAGER_ADMIN_USER=admin                           # OpsMan Portal Admin User
PCF_OPSMANAGER_ADMIN_PASS=pivotal                         # OpsMan Portal Admin Password
PCF_OPSMANAGER_DECRYPTION_KEY=pivotal                     # OpsMan Portal Decryption Key

PCF_TILE_PAS_DEPLOY=true
PCF_TILE_PAS_NAME=elastic-runtime
PCF_TILE_PAS_VERSION=2.7.2
PCF_TILE_PAS_SLUG=srt                                     # Small Runtime CloudFoundry PAS
PCF_TILE_PAS_CONFIG=pas-srt_gcp_2.7.yml
PCF_TILE_PAS_STEMCELL_TYPE=stemcells-ubuntu-xenial
PCF_TILE_PAS_STEMCELL_VERSION=456.30

